In [83]:
#import modules
import pandas as pd
import numpy as np
import json
import os
import sys
import csv

In [84]:
#upload data.parse data.
data=json.load(open("../Weel-04-Pandas/Instructions/HeroesOfPymoli/purchase_data.json"))
fantasy_data=pd.DataFrame(data)
fantasy_data.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [90]:
#Total number of players
total_players = len(fantasy_data["SN"].unique())
print(total_players)

573

In [91]:
#Number of Unique Items
unique_items_group = fantasy_data.groupby(["Item ID"])
total_items = len(unique_items_group)
print(total_items)

183

In [92]:
#Average Purchase Price
average_Price = fantasy_data["Price"].mean()
print(average_Price)

2.931192307692303

In [93]:
 #Total Number of Purchases
total_Purchases = fantasy_data["Price"].count()
print(total_Purchases)

780

In [94]:
#Total Revenue
total_Revenue = fantasy_data["Price"].sum()
print(total_Revenue)

2286.3299999999963

In [95]:
#Create df with unique SN to work with to remove duplicate players.
#sys.setrecursionlimit(10000) <--- this...crashed the program
fantasy_data1 = fantasy_data.drop_duplicates(["SN"])
fantasy_data1.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [96]:
#Gender
total_gender = fantasy_data1["Gender"].count()

In [97]:
#Percentage and Count of Male Players
male = fantasy_data1["Gender"].value_counts()['Male']
male_percent = (male/total_gender) * 100
print(f"Male: {male}\n% Male: {male_percent}")

Male: 465
% Male: 81.15183246073299

In [98]:
#Percentage and Count of Female Players
female = fantasy_data1["Gender"].value_counts()['Female']
female_percent = (female/total_gender) * 100
print(f"Female: {female}\n % Female: {female_percent}")

Female: 100
 % Female: 17.452006980802793

In [99]:
#Percentage and Count of Other / Non-Disclosed
non_gender_specific = total_gender - male - female
non_gender_specific_percent = (non_gender_specific/total_gender) * 100
print(f" non_specfic: {non_gender_specific} \n % non_specifc: {non_gender_specific}")

 non_specfic: 8
 % non_specifc: 8

In [120]:
#By Gender
gender_group = fantasy_data1.groupby(["Gender"])
gender_group.mean()

                             Age     Item ID     Price
Gender
Female                 22.260000   86.130000  2.887900
Male                   22.621505   91.144086  2.988645
Other / Non-Disclosed  25.875000  121.125000  3.447500

In [101]:
#Gender Purchase Count
gender_group["Item ID"].count()

Gender
Female                   100
Male                     465
Other / Non-Disclosed      8
Name: Item ID, dtype: int64

In [102]:
#Gender Average Purchase Price
gender_group["Price"].mean()

Gender
Female                   2.887900
Male                     2.988645
Other / Non-Disclosed    3.447500
Name: Price, dtype: float64

In [103]:
#Total Purchase Value
gender_group["Price"].sum()

Gender
Female                    288.79
Male                     1389.72
Other / Non-Disclosed      27.58
Name: Price, dtype: float64

In [104]:
#Normalized Totals
#df_norm = (df - df.mean()) / (df.max() - df.min())

#df_norm

In [105]:
#Again by bins of 4 years
#Identify range
age_low = fantasy_data["Age"].min()
age_high = fantasy_data["Age"].max()
print(age_low, age_high)

7 45

In [106]:
#create bins

age_bins = [4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]
age_ranges = ["4-8", "8-12", "12-16", "16-20", "20-24", "24-28", "28-32", "32-36", "36-40", "40-44", "44-48"]

In [107]:
#place ages from fantasy data into bins

fantasy_data["Age Range"] = pd.cut(fantasy_data["Age"], age_bins, labels=age_ranges)
fantasy_data.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Range
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,36-40
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,32-36
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24

In [108]:
#Group by Age Range, (optional) find oldest in each age group
age_groups = fantasy_data.groupby("Age Range")
age_groups.mean()

                 Age     Item ID     Price
Age Range
4-8         7.136364   85.909091  2.788182
8-12       10.541667   87.125000  3.385417
12-16      14.942529   92.816092  2.745862
16-20      19.248447   84.248447  2.907019
20-24      22.647059   89.605042  2.924748
24-28      25.634615   93.855769  2.974712
28-32      30.257576   91.166667  3.061970
32-36      34.394737  105.631579  2.981053
36-40      38.648649  112.972973  2.901351
40-44      42.500000   83.500000  2.960000
44-48      45.000000  124.000000  2.720000

In [109]:
#Age Purchase Count
age_groups["Item ID"].count()

Age Range
4-8       22
8-12      24
12-16     87
16-20    161
20-24    238
24-28    104
28-32     66
32-36     38
36-40     37
40-44      2
44-48      1
Name: Item ID, dtype: int64

In [110]:
#Age Average Purchase Price
age_groups["Price"].mean()

Age Range
4-8      2.788182
8-12     3.385417
12-16    2.745862
16-20    2.907019
20-24    2.924748
24-28    2.974712
28-32    3.061970
32-36    2.981053
36-40    2.901351
40-44    2.960000
44-48    2.720000
Name: Price, dtype: float64

In [111]:
#Age Total Purchase Value
age_groups["Price"].sum()

Age Range
4-8       61.34
8-12      81.25
12-16    238.89
16-20    468.03
20-24    696.09
24-28    309.37
28-32    202.09
32-36    113.28
36-40    107.35
40-44      5.92
44-48      2.72
Name: Price, dtype: float64

In [112]:
#Age Normalized totals

In [113]:
#Adds column of how many times a SN appears to fantasy_data
fantasy_data["SN_count"] = fantasy_data.groupby(['SN'])['SN'].transform('count')

In [78]:
fantasy_sn_groups = fantasy_data.groupby("SN")
spenders_price_count_df = fantasy_sn_groups["Price"].count()
spenders_price_average_df = fantasy_sn_groups["Price"].mean()
spenders_price_total_df = fantasy_sn_groups["Price"].sum()

spenders_df = pd.DataFrame({"Purchase count": spenders_price_count_df,
                           "Average purchase price": spenders_price_average_df,
                           "Total purchase value": spenders_price_total_df},
                           columns = ["Purchase count", "Average purchase price", "Total purchase value"])

top_five_spenders_df = spenders_df.sort_values("Total purchase value", ascending = False)
top_five_spenders_df.head()

             Purchase count  Average purchase price  Total purchase value
SN
Undirrala66               5                3.412000                 17.06
Saedue76                  4                3.390000                 13.56
Mindimnya67               4                3.185000                 12.74
Haellysu29                3                4.243333                 12.73
Eoda93                    3                3.860000                 11.58

In [79]:
#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value
item_popularity = fantasy_data["Item Name"].value_counts()
print(item_popularity[:5])
#The top 5 are the most popular items- Final Critic:Retribution Axe

Final Critic                            14
Arcane Gem                              11
Betrayal, Whisper of Grieving Widows    11
Stormcaller                             10
Retribution Axe                          9
Name: Item Name, dtype: int64

In [80]:

#Identify the 5 most profitable items by total purchase value, then list (in a table):
#Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value
#Group by purchase value, sort descending. Filter by most popular. 

fantasy_item_df = fantasy_data.groupby("Item Name")

item_price_count_df = fantasy_item_df["Price"].count()
item_price_average_df = fantasy_item_df["Price"].mean()
item_price_total_df = fantasy_item_df["Price"].sum()

item_df = pd.DataFrame({"Purchase count": item_price_count_df,
                           "Average purchase price": item_price_average_df,
                           "Total purchase value": item_price_total_df},
                           columns = ["Purchase count", "Average purchase price", "Total purchase value"])

top_five_item_df = item_df.sort_values("Total purchase value", ascending = False)
top_five_item_df.head()

,Purchase count,Average purchase price,Total purchase value
Item Name,,,
Final Critic,14,2.757143,38.60
Retribution Axe,9,4.140000,37.26
Stormcaller,10,3.465000,34.65
Spectral Diamond Doomblade,7,4.250000,29.75
Orenmir,6,4.950000,29.70